<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WCodingUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WCodingUtil.Properties.Settings>
            <setting name="Working_Dir" serializeAs="String">
                <value>\\rs01\Data_Shares\Firmware</value>
            </setting>
            <setting name="MFgString" serializeAs="String">
                <value />
            </setting>
            <setting name="DBA_ip" serializeAs="String">
                <value />
            </setting>
            <setting name="RTM_ip" serializeAs="String">
                <value />
            </setting>
            <setting name="RTM_port" serializeAs="String">
                <value>10001</value>
            </setting>
            <setting name="RTC_port" serializeAs="String">
                <value>4901</value>
            </setting>
            <setting name="Channel" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="PingCount" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TxLqi" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="TxRssi" serializeAs="String">
                <value>-68</value>
            </setting>
            <setting name="RxLqi" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="RxRssi" serializeAs="String">
                <value>-74</value>
            </setting>
            <setting name="OfferRangeTestRetry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Device" serializeAs="String">
                <value />
            </setting>
        </WCodingUtil.Properties.Settings>
    </userSettings>
</configuration>